<div class="container ">
  <% if task.completed?%>
  <div class="row tg-mg-5">
    <div class="col  rounded">
       <div class="complete">
        <%= link_to  complete_board_task_path(@board, task.id), method: :patch do %>
          <i style="opacity: 0.4;" class="fa fa-check"></i>
        <%end%>
      </div>
    </div>
    <div class="col-6 rounded">
     <div class="card-text font-weight-bold text-black " style="opacity: 0.4;">
        <strike>
          <%= task.title%>
        </strike>
      </div> 
    </div>
    <div class="col border rounded">
      <div class="trash text-center ">
        <%= link_to board_task_path(@board, task.id), method: :delete, data: { confirm: "Are you sure?"} do%>
        <i class="fa fa-trash"></i>
        <%end%>
      </div>
    </div>
  </div>
  <%else%>
  <div class="row tg-mg-5" >
    <div class="col rounded">
      <div class="complete">
        <%= link_to complete_board_task_path(@board, task.id), method: :patch do %>
          <i style="opacity: 0.4;" class="fa fa-check"></i>
        <%end%>
      </div>
    </div>
    <div class="col-6 rounded">
      <div class="card-text font-weight-bold text-black">
        <%= task.title%>
      </div>
    </div>
    <div class="col rounded">
       <div class="trash text-center">
          <%= link_to board_task_path(@board, task.id), method: :delete, data: { confirm: "Are you sure?"} do%>
          <i class="fa fa-trash"></i>
          <%end%>
      </div>
    </div>
  </div>
  <%end%>
</div>