<%= form_with(model: board, local: true) do |form| %>
<% if board.errors.any? %>
<h2>Errors:</h2>
<ul>
  <% @board.errors.full_messages.each do |message|%>
  <li><%=message%></li>
  <%end%>
</ul>
<% end %>
<div class="field">
  <div class="text-white">
    <%= form.label :title %>
  </div>
  <%= form.text_field :title %>
</div>

<div class="actions">
  <%= form.submit 'Submit', :class => 'btn btn-light btn-sm' %>
</div>
<% end %>